@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

.maplibregl-popup {
  transition: opacity 300ms ease-in-out;
}

.maplibregl-popup-content {
  transition: all 300ms ease-in-out;
}

.animated-popup.popup-fade-enter {
  opacity: 0;
}

.animated-popup.popup-fade-enter-active {
  opacity: 1;
}

@layer base {
  :root {
    /* Base color definitions */
    --base-white: #ffffff;
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --red-500: #ef4444;
    --red-600: #dc2626;

    --torea-bay-50: rgba(239, 244, 254, 1);
    --torea-bay-100: rgba(226, 234, 253, 1);
    --torea-bay-200: rgba(202, 215, 251, 1);
    --torea-bay-300: rgba(171, 189, 246, 1);
    --torea-bay-400: rgba(137, 152, 240, 1);
    --torea-bay-500: rgba(108, 119, 232, 1);
    --torea-bay-600: rgba(80, 80, 219, 1);
    --torea-bay-700: rgba(67, 65, 193, 1);
    --torea-bay-800: rgba(54, 54, 152, 1);
    --torea-bay-900: rgba(51, 52, 124, 1);
    --torea-bay-950: rgba(30, 30, 72, 1);

    /* Grenadier colors */
    --grenadier-50: rgba(254, 245, 238, 1);
    --grenadier-100: rgba(253, 232, 215, 1);
    --grenadier-200: rgba(250, 204, 174, 1);
    --grenadier-300: rgba(247, 169, 122, 1);
    --grenadier-400: rgba(243, 123, 68, 1);
    --grenadier-500: rgba(240, 88, 31, 1);
    --grenadier-600: rgba(222, 62, 21, 1);
    --grenadier-700: rgba(186, 45, 20, 1);
    --grenadier-800: rgba(186, 45, 20, 1);
    --grenadier-900: rgba(148, 38, 24, 1);
    --grenadier-950: rgba(120, 33, 22, 1);

    --background: var(--zinc-50);
    --foreground: var(--torea-bay-950);
    --primary: var(--torea-bay-800);
    --primary-foreground: var(--base-white);
    --secondary: var(--base-white);
    --secondary-foreground: var(--torea-bay-800);
    --accent: var(--torea-bay-100);
    --accent-foreground: var(--torea-bay-900);
    --destructive: var(--red-500);
    --destructive-foreground: var(--zinc-50);
    --muted: var(--zinc-400);
    --muted-foreground: var(--zinc-500);
    --card: var(--base-white);
    --card-foreground: var(--torea-bay-950);
    --popover: var(--base-white);
    --popover-foreground: var(--torea-bay-950);
    --border: var(--torea-bay-200);
    --input: var(--zinc-200);
    --focus: var(--torea-bay-700);

    --radius: 0.5rem;
  }
}
